<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>
    Hello <%= user.firstname %>, welcome to JServiços!
  </h3>
  <div>
    <h4>Check your informations</h4>
    <div>
      Username: <%= user.username %>
    </div>
    <div>
      Email: <%= user.email %>
    </div>
  </div>

  <hr>
  <div>
    <h3>Itens Example</h3>
    <% _.forEach(user.itens, function(item) { %>
      <li>
        <%- item %>
      </li>
      <% }); %>
  </div>

</body>

</html>
